* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9e9e9;
    background-image: url(./assets/img/logo/tk_short-logo-copy.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#alert {
    transition: all .2s;
    z-index: 1000;
}

#tk .container .row .card {
    cursor: pointer;
    transition: .3s ease-out;
}

#tk .container .row .card {
    -webkit-box-shadow: 0px 0px 21px 3px rgba(156, 156, 156, 1);
    -moz-box-shadow: 0px 0px 21px 3px rgba(156, 156, 156, 1);
    box-shadow: 0px 0px 21px 3px rgba(156, 156, 156, 1);

    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border: 1px solid #acacac;
}

#tk .container .row .card:hover {
    -webkit-box-shadow: 0px 0px 9px 5px rgba(79, 79, 79, 1);
    -moz-box-shadow: 0px 0px 9px 5px rgba(79, 79, 79, 1);
    box-shadow: 0px 0px 9px 5px rgba(79, 79, 79, 1);

    border-radius: 50px 50px 0px 1px;
    -moz-border-radius: 50px 50px 0px 1px;
    -webkit-border-radius: 50px 50px 0px 1px;
    border: 1px solid #acacac;

}


#tk .container .row .contents p {
    color: #00ba06;
}

#tk .container .row .contents p:hover {
    text-decoration: underline 1px;
}

#tk .container .row .contents form .price,
#tk .container .row .contents form .offer_price {
    border: none;

}

#tk .container .row .contents form .price:focus,
#tk .container .row .contents form .quantity_input:focus,
#tk .container .row .contents form .offer_price:focus {
    outline: none;

}

#tk .container .row .contents form .quantity_input {
    width: 30px;
    border: 1px solid #5252525c;
}

#tk .container .row .contents form .btn:hover {
    color: rgb(255, 238, 0);
}